<header class="header-bg">
	<h1 class=""><%= link_to 'Perfect English', root_path %></h1>
</header>
<br />
<br />
<h1>Contact</h1>
<p>If you would like to get in touch please send us a tweet to <%= link_to '@speak_perfect','https://twitter.com/speak_perfect', target: '_blank' %></p>