<div class="main text-center">
<h1>Wiggle</h1>
<h2>Perfect your English</h2>
<%= link_to '' do %>
	<%= image_tag(('iphone.png'), class: 'app-image') %>
	<p class="button download-button">Download the app</p>
<% end %>
<%= link_to '' do %><p class="button videos-button">Watch videos on website</p><% end %>
</div>

