<header class="header-bg">
	<h1 class="">Perfect English</h1>
</header>
<h1 class="tagline">Videos to perfect your English on the move</h1>
<div class="main text-center row">
	<div class="iphone-image-div">
		<%= link_to '' do %>
			<%= image_tag(('iphone1.png'), class: 'app-image') %>
		<% end %>
	</div>
	<div class="text-description-div">
		<p>Among people who have really mastered English as a second language, what learning method do they share?  They watched a lot of video in English when they grew up.</p>
		<p>Perfect English is an iPhone app with videos that are designed to help people take their English to the next level.</p>
		<p>Download the free app now and put those videos in your pocket!</p>
		<h3><%= link_to 'Download free app','', class: 'button' %></h3>
	</div>
</div>
<footer class="footer">
	<small>&copy; 2014 Altitude Education Ltd.</small>
</footer>

