<header class="header-bg">
	<h1 class="">Perfect English</h1>
</header>
<h1>Beta test the app</h1>
<h3><%= link_to 'App released soon','itms-services://?action=download-manifest&url=https://s3-eu-west-1.amazonaws.com/pipapp/Perfect-English.plist', class: 'button' %></h3>